.details-container{
    grid-template-columns: repeat(3,1fr);
    grid-column-start:1  ;
    grid-column-end:5 ;

    grid-template-rows: 75px 1fr 1fr 1fr 100px;
    grid-row-start:2  ;
    grid-row-end:5 ;

    margin-top: 130px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:60px;
}


