body {
  margin: 0;
}

.home-container{
  display: grid;
  grid-template-areas: 
  "nav nav nav"
  " main "
  "blog blog blog"
  "footer footer footer"
  ;
}
.nav{
  grid-area:nav;
}
.main-container{
  grid-area:main;
}

.blogs-container{
  grid-area:blog;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap:70px;
}
.footer-container{
  grid-area:footer;

}
.card{
  /* width:22vw !important; */
  border-radius: 15px !important;
  box-shadow: 3 4px 8px 3 rgba(0,0,0,0.2);
  transition: 3s;

}
.card:hover{
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);

}


.card-btn{
        border: 1px solid rgb(255, 92, 92);
        transition-duration:2s;
        background-color: #fdfdfd;
        padding: 5px 25px 5px 25px ;
        font-size: 18px;
        border-radius: 15px;
    
        color: #444;
      
}
    
.card-btn:hover {
        background-color: rgb(255, 92, 92); 
        color: #fdfdfd !important;
        cursor: pointer;
        font-size: 19px;
}



/* deisgn for create post  page  */
.create-post-container{
  display: grid;
  grid-template-areas: 
  "nav nav nav"
  "formTitle formTitle formTitle"
  "form form form"
  "footer footer footer";
  width:100vw;
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;

}
.form-container{
  grid-area:form;
 width: 60%;

margin-left: 20%;
margin-top: 5%;
}
.form{
  /* margin: auto; */
  /* margin-top: ; */
}
.form-title{
  grid-area: formTitle;
  margin: 15vh 0 5vh 0;
  width: 100vw;
  font-size: 18px;

}
input{

  width: 100%;
  border-radius: 15px;
  height: 40px;
  margin-top: 15PX;

}
textarea{
  width: 100%;
  border-radius: 15px;
  height: 150px;
  margin-top: 15px;
width: 100%;
}
.form-btn{
  width: 50%;
  border-radius: 15px;

  margin: 15px !important;
  color:#444;
  background-color: #fff !important;
  border: solid 1px rgb(255, 92, 92) !important;
  
}
.form-btn:hover{
  background-color: rgb(255, 92, 92) !important;
  color : #fff !important;

}

.desc-box{
margin-top: 15px;
width: 100%;
}
.footer-container{
margin-top: 50vh;
}

.details-container .card{
  width: 70vw !important;
}